<mat-toolbar style="background-color:cornflowerblue">
  <span>
    <h1>TypeRacer</h1>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
      <b mat-button routerLink="/login">Login</b>
    </li>
    <span class="smallSpacer"></span>
    <li *ngIf="!userIsAuthenticated">
      <b mat-button routerLink="/signup">Signup</b>
    </li>
    <span class="smallSpacer"></span>
    <li *ngIf="userIsAuthenticated">
      <b mat-button (click)="onLogout()">Logout</b>
    </li>
    <span class="smallSpacer"></span>
    <li>
      <b mat-button routerLink="/">Main Menu</b>
    </li>
  </ul>
</mat-toolbar>
