mat-card {
  margin-top: 40px;
  width: 20%;
}

.Text {
  font-size: large;
}

p {
  font-size: large;
}

button.b {
  background-color: cornflowerblue;
  color: floralwhite;
}

button.b:disabled {
  background-color: grey;
}

.hide {
  display: none;
}

button.b:disabled + .hide {
  display: block;
}
